<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light" icon="arrow-back-circle" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Es tiempo - Hillsong</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment [(ngModel)]="segmentValue" value="song" class="w100 segment-custom">
    <ion-segment-button *ngIf="!isWatching" [value]="segmentGeneral" value="general">
      <ion-label>General</ion-label>
    </ion-segment-button>
    <ion-segment-button [value]="segmentSong" value="song">
      <ion-label>Letra</ion-label>
    </ion-segment-button>
    <ion-segment-button [value]="segmentNotes" value="notes">
      <ion-label>Notas</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segmentValue">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div *ngSwitchCase="segmentGeneral">
        <ion-grid class="ion-padding">
          <ion-row>
            <ion-item class="ion-align-items-center w100" lines="none">
              <ion-label color="tertiary" position="floating">Nombre de la canción</ion-label>
              <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
            <div *ngIf="!isFieldValid('name')" class="invalid-input-message">
              {{getFieldError('name')}}
            </div>

            <ion-item class="ion-align-items-center w100 ion-margin-top" lines="none">
              <ion-label color="tertiary" position="floating">Autor</ion-label>
              <ion-input type="text" formControlName="author"></ion-input>
            </ion-item>
            <div *ngIf="!isFieldValid('author')" class="invalid-input-message">
              {{getFieldError('author')}}
            </div>

            <ion-item class="ion-align-items-center w100 ion-margin-top" lines="none">
              <ion-label color="tertiary" position="floating">Tono</ion-label>
              <ion-input type="text" formControlName="author"></ion-input>
            </ion-item>
            <div *ngIf="!isFieldValid('author')" class="invalid-input-message">
              {{getFieldError('author')}}
            </div>

            <ion-item class="ion-align-items-center w100 ion-margin-top" lines="none">
              <ion-label color="tertiary" position="floating">Cantante</ion-label>
              <!-- <ion-input type="text" formControlName="password"></ion-input> -->
            </ion-item>
            <!-- <div *ngIf="!isFieldValid('password')" class="invalid-input-message">
              {{getFieldError('password')}}
            </div> -->
          </ion-row>
        </ion-grid>
      </div>
    </form>

    <div *ngSwitchCase="segmentSong">

      <ion-card class="ion-padding" *ngIf="isWatching">
        <h4><b>Estrofa 1:</b></h4>
        <h3>
          Amor inexplicable, tu vida diste en la cruz <br>
          Tuyo soy por siempre<br>
          En tu misericordia, me diste vida, diste amor<br>
          Tu gran amor<br>
        </h3>
        <h4><b>Estrofa 2:</b></h4>
        <h3>
          Amor inexplicable, tu vida diste en la cruz <br>
          Tuyo soy por siempre<br>
          En tu misericordia, me diste vida, diste amor<br>
          Tu gran amor<br>
        </h3>
      </ion-card>


      <div class="quill-editor-container" *ngIf="!isWatching">
        <quill-editor class="quill-editor" format="text" placeholder="Escribe o pega la canción aquí"
          [(ngModel)]="textRecipe" [modules]="config" theme="snow"></quill-editor>
      </div>

    </div>

    <div *ngSwitchCase="segmentNotes">
      <swiper [config]="swiperConfig" class="ion-padding-start ion-padding-end ion-align-items-center d-flex">
        <ng-template swiperSlide>
          <ion-chip class="active">Bajo</ion-chip>
        </ng-template>

        <ng-template swiperSlide>
          <ion-chip>Teclado</ion-chip>
        </ng-template>

        <ng-template swiperSlide>
          <ion-chip>Guitarra</ion-chip>
        </ng-template>

        <ng-template swiperSlide>
          <!-- <ion-chip> -->
          <ion-button class="height-custom" fill="solid" color="primary" shape="round">
            <ion-icon color="light" slot="icon-only" name="add-circle"></ion-icon>
          </ion-button>
          <!-- </ion-chip> -->
        </ng-template>

      </swiper>

      <ion-card class="ion-padding">
        <h4><b>Estrofa 1:</b></h4>
        <div class="notes">
          <ion-buttons>
            <ion-button class="note ion-text-capitalize" shape="round">
              E<span class="minor-note">m</span>
            </ion-button>
            <ion-button class="note ion-text-capitalize" shape="round">
              E<span class="numeral">#</span>
            </ion-button>
            <ion-button class="note placeholder-note" shape="round">
              <ion-icon name="add"></ion-icon>
            </ion-button>
            <ion-button class="note placeholder-note" shape="round">
              <ion-icon name="add"></ion-icon>
            </ion-button>
            <ion-button class="note placeholder-note" shape="round">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
        <div class="notes">
          <div class="note">C</div>
          <div class="note">D</div>
          <div class="note">E</div>
        </div>
        <h4><b>Coro:</b></h4>
        <div class="notes">
          <div class="note">C</div>
          <div class="note">D</div>
          <div class="note">E</div>
        </div>
        <ion-card>
          <ion-item>
            Tapped: {{tap}} times
          </ion-item>
        </ion-card>
      </ion-card>
    </div>
  </div>
</ion-content>

<ion-footer *ngIf="!isWatching">
  <ion-toolbar>
    <div *ngIf="segmentValue == segmentNotes && segmentValue != segmentGeneral">
      <div class="notes">
        <ion-buttons class="w100">
          <swiper [config]="swiperConfigNotes" class="ion-padding-start ion-padding-end">
            <ng-template swiperSlide>
              <ion-button (press)="tapEvent($event)" class="note ion-text-capitalize" shape="round">
                C
              </ion-button>
            </ng-template>
            <ng-template swiperSlide>
              <ion-button class="note ion-text-capitalize" shape="round">
                C<span class="minor-note">m</span>
              </ion-button>
            </ng-template>
            <ng-template swiperSlide>
              <ion-button class="note ion-text-capitalize" shape="round">
                C<span class="numeral">#</span>
              </ion-button>
            </ng-template>
            <ng-template swiperSlide>
              <ion-button class="note ion-text-capitalize" shape="round">
                C<span class="minor-note">m</span><span class="numeral">#</span>
              </ion-button>
            </ng-template>
            <ng-template swiperSlide>
              <ion-button class="note ion-text-capitalize" shape="round">
                D
              </ion-button>
            </ng-template>
            <ng-template swiperSlide>
              <ion-button class="note ion-text-capitalize" shape="round">
                D<span class="minor-note">m</span>
              </ion-button>
            </ng-template>
            <ng-template swiperSlide>
              <ion-button class="note ion-text-capitalize" shape="round">
                D<span class="numeral">#</span>
              </ion-button>
            </ng-template>
            <ng-template swiperSlide>
              <ion-button class="note ion-text-capitalize" shape="round">
                D<span class="minor-note">m</span><span class="numeral">#</span>
              </ion-button>
            </ng-template>
          </swiper>
        </ion-buttons>
      </div>
      <div class="notes">
        <ion-buttons class="w100">
          <swiper [config]="swiperConfigNotes" class="ion-padding-start ion-padding-end">
            <ng-template swiperSlide>
              <ion-button class="note ion-text-capitalize" shape="round">
                E
              </ion-button>
            </ng-template>
            <ng-template swiperSlide>
              <ion-button class="note ion-text-capitalize" shape="round">
                E<span class="minor-note">m</span>
              </ion-button>
            </ng-template>
            <ng-template swiperSlide>
              <ion-button class="note ion-text-capitalize" shape="round">
                F
              </ion-button>
            </ng-template>
            <ng-template swiperSlide>
              <ion-button class="note ion-text-capitalize" shape="round">
                F<span class="minor-note">m</span>
              </ion-button>
            </ng-template>
            <ng-template swiperSlide>
              <ion-button class="note ion-text-capitalize" shape="round">
                F<span class="numeral">#</span>
              </ion-button>
            </ng-template>
            <ng-template swiperSlide>
              <ion-button class="note ion-text-capitalize" shape="round">
                F<span class="minor-note">m</span><span class="numeral">#</span>
              </ion-button>
            </ng-template>
            <ng-template swiperSlide>
              <ion-button class="note ion-text-capitalize" shape="round">
                G
              </ion-button>
            </ng-template>
            <ng-template swiperSlide>
              <ion-button class="note ion-text-capitalize" shape="round">
                G<span class="minor-note">m</span>
              </ion-button>
            </ng-template>
          </swiper>
        </ion-buttons>
      </div>
      <div class="notes">
        <ion-buttons class="w100">
          <swiper [config]="swiperConfigNotes" class="ion-padding-start ion-padding-end">
            <ng-template swiperSlide>
              <ion-button class="note ion-text-capitalize" shape="round">
                G<span class="numeral">#</span>
              </ion-button>
            </ng-template>
            <ng-template swiperSlide>
              <ion-button class="note ion-text-capitalize" shape="round">
                G<span class="minor-note">m</span><span class="numeral">#</span>
              </ion-button>
            </ng-template>
            <ng-template swiperSlide>
              <ion-button class="note ion-text-capitalize" shape="round">
                A
              </ion-button>
            </ng-template>
            <ng-template swiperSlide>
              <ion-button class="note ion-text-capitalize" shape="round">
                A<span class="minor-note">m</span>
              </ion-button>
            </ng-template>
            <ng-template swiperSlide>
              <ion-button class="note ion-text-capitalize" shape="round">
                A<span class="numeral">#</span>
              </ion-button>
            </ng-template>
            <ng-template swiperSlide>
              <ion-button class="note ion-text-capitalize" shape="round">
                A<span class="minor-note">m</span><span class="numeral">#</span>
              </ion-button>
            </ng-template>
            <ng-template swiperSlide>
              <ion-button class="note ion-text-capitalize" shape="round">
                B
              </ion-button>
            </ng-template>
            <ng-template swiperSlide>
              <ion-button class="note ion-text-capitalize" shape="round">
                B<span class="minor-note">m</span>
              </ion-button>
            </ng-template>
          </swiper>

        </ion-buttons>
      </div>
    </div>

    <ion-button class="ion-padding-start ion-padding-end" color="secondary" expand="block" fill="solid" shape="round">
      Guardar
      <ion-icon slot="start" name="save"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>