<ion-content>
  <ion-row class="ion-justify-content-center ion-margin-top">
    <ng-lottie [options]="options" height="300px"></ng-lottie>
  </ion-row>

  <ion-text color="tertiary">
    <h5 class="ion-text-center">Reserva exitosa!</h5>
    <p class="ion-text-center">Recordá llegar antes de las 21:30 de lo contrario la reserva se cancelará automáticamente.</p>
  </ion-text>

  <ion-button color="secondary" class="global-btn ion-text-capitalize ion-margin-top" expand="block" (click)="goToHome()">
    Volver
  </ion-button>
</ion-content>