ion-content {
    ion-item::part(native) {
        border-radius: 10px !important;
    }

    ion-label {
        color: var(--ion-color-tertiary) !important;
        font-weight: 400 !important;
        font-size: 0.9rem !important;
    }

    .terms-item {
        --background: transparent !important;
        font-family: 'Poppins';
        font-size: 0.9rem;
    }
}
