<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927915106602-4ck49mkodb6kf1elgkef9ru9trrltp2k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927915106602-4ck49mkodb6kf1elgkef9ru9trrltp2k</string>
	<key>API_KEY</key>
	<string>AIzaSyDAco3ToecaTy2coIzheVQiAWyZTeX0Nng</string>
	<key>GCM_SENDER_ID</key>
	<string>927915106602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diproach.finde</string>
	<key>PROJECT_ID</key>
	<string>d90app-47c41</string>
	<key>STORAGE_BUCKET</key>
	<string>d90app-47c41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927915106602:ios:bd27038be4efa6e7f97e53</string>
</dict>
</plist>