{{!-- <html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title></title>
    <meta name="generator" content="LibreOffice 7.3.2.2 (Linux)" />
    <meta name="author" content="Guido Ciardiello" />
    <meta name="created" content="2022-08-05T19:47:00" />
    <meta name="changedby" content="Guido Ciardiello" />
    <meta name="changed" content="2022-08-05T19:48:00" />
    <meta name="AppVersion" content="16.0000" />
    <style type="text/css">
        @page {
            size: 8.27in 11.69in;
            margin-left: 1.18in;
            margin-right: 1.18in;
            margin-top: 0.98in;
            margin-bottom: 0.98in
        }

        p {
            line-height: 115%;
            text-align: left;
            orphans: 2;
            widows: 2;
            margin-bottom: 0.1in;
            direction: ltr;
            background: transparent
        }
    </style>
</head>

<body lang="es-AR" link="#000080" vlink="#800000" dir="ltr">
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="5" style="font-size: 18pt"><b>TÉRMINOS
                        Y CONDICIONES DE USO DEL SERVICIO</b></font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt"><i>Versión
                        1</i></font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt">El
                    presente contrato describe los términos y condiciones generales (en
                    adelante “TÉRMINOS”) aplicables al uso de los servicios (en
                    adelante “SERVICIOS”) ofrecidos por Red Alerta Vecinal.&nbsp;</font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0.1in; background: #ffffff">
        <font color="#9ea6a4">&nbsp;</font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt">Cualquier
                    persona (en adelante “USUARIO” o en plural “USUARIOS”) que
                    desee acceder y/o utilizar los SERVICIOS disponibles en RAV podrá
                    hacerlo sujetándose de manera estricta a los TÉRMINOS aquí
                    desarrollados, aceptando los mismos plenamente y sin reserva alguna,
                    los cuales revisten carácter obligatorio y vinculante.&nbsp; El
                    USUARIO debe leer, entender y aceptar todas las condiciones
                    establecidas en los TÉRMINOS como así también en las Políticas de
                    Privacidad (en adelante “POLÍTICAS”) y demás documentos
                    incorporados a los mismos por referencia previo a su registración
                    como usuario de RAV Cualquier persona que no acepte estos TÉRMINOS
                    deberá abstenerse de utilizar RAV y/o los SERVICIOS.</font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0.1in; background: #ffffff">
        <font color="#9ea6a4">&nbsp;</font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt"><b>1.
                        OBJETO</b></font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt">RAV
                    permite a sus USUARIOS enviar y recibir notificaciones entre vecinos
                    previamente establecidos.&nbsp;</font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0.1in; background: #ffffff">
        <font color="#9ea6a4">&nbsp;</font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt"><b>3.
                        REGISTRO Y VALIDACIÓN DE USUARIO</b></font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt">Al
                    descargar y ejecutar la aplicación móvil RAV el USUARIO deberá
                    registrarse. El USUARIO podrá utilizar los SERVICIOS de RAV luego de
                    ingresada la información solicitada y validada, momento en el cual
                    RAV lo considerará como un usuario habilitado para el uso de la
                    aplicación.&nbsp;</font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt">La
                    administración y/o autoridades del CLIENTE podrán desactivar de
                    manera discrecional a cualquier USUARIO que haya sido habilitado.&nbsp;</font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0.1in; background: #ffffff">
        <font color="#9ea6a4">&nbsp;</font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt"><b>4.
                        USO RESPONSABLE DEL SERVICIO</b></font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt">El
                    USUARIO entiende, acepta y reconoce la importancia de realizar un uso
                    responsable de RAV reservando su uso únicamente para los fines de
                    seguridad y protección. El USUARIO se obliga a no efectuar
                    utilización contraria a la expresada en dicho párrafo anterior a
                    sabiendas de que de hacerlo podría poner en riesgo bienes y personas
                    como así también generar daños y perjuicios para los CLIENTES y/o
                    para RAV, asumiendo todas las responsabilidades que las consecuencias
                    de su accionar emanaran.&nbsp; La sola sospecha de utilización
                    contraria a la establecida por parte del USUARIO habilitará a RAV a
                    efectuar la desactivación del USUARIO y/o su suspensión definitiva.
                    Sin perjuicio de ello, RAV se reserva el derecho de iniciar en contra
                    del USUARIO las acciones legales que correspondan a fin de resarcir
                    el daño que éste hubiera causado debido al uso indebido y/o
                    irregular de la aplicación.</font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0.1in; background: #ffffff">
        <font color="#9ea6a4">&nbsp;</font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt"><b>5.
                        HERRAMIENTAS DEL SERVICIO</b></font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt">Para
                    hacer uso de los SERVICIOS el USUARIO deberá disponer de un teléfono
                    celular inteligente o “Smartphone” con conexión a&nbsp;datos
                    móviles, que deberá poseer a su propio costo y cargo.</font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0.1in; background: #ffffff">
        <font color="#9ea6a4">&nbsp;</font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt"><b>6.
                        COSTO DEL SERVICIO</b></font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt">El
                    CLIENTE deberá abonar mensualmente a RAV una tarifa establecida en
                    concepto de licencia de uso de la aplicación. La descarga y
                    utilización de los SERVICIOS por parte de los USUARIOS podrá tener
                    o no un costo adicional, dependiendo del tipo de contratación de
                    servicio que se plantee.&nbsp;</font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0.1in; background: #ffffff">
        <font color="#9ea6a4">&nbsp;</font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt"><b>7.
                        CANCELACIÓN DEL SERVICIO.</b></font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt">RAV
                    se reserva el derecho a cancelar el SERVICIO en cualquier momento sin
                    necesidad de expresión de causa. Los USUARIOS podrán efectuar la
                    cancelación del servicio con la sola desinstalación de la
                    aplicación móvil de su teléfono celular.&nbsp;</font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0.1in; background: #ffffff">
        <font color="#9ea6a4">&nbsp;</font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt"><b>8.
                        PLAZO DEL SERVICIO</b></font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt">RAV
                    proporcionará el SERVICIO a los USUARIOS a partir de la fecha de
                    habilitación del USUARIO y por tiempo indeterminado hasta tanto no
                    se produzca la rescisión del servicio y/o la falta de pago por parte
                    del CLIENTE o bien por la extinción de la vinculación contractual
                    entre RAV y el CLIENTE.</font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0.1in; background: #ffffff">
        <br />
        <br />

    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt"><b>9.
                        MODIFICACIONES</b></font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt">RAV
                    se reserva el derecho de modificar en cualquier momento los presentes
                    TÉRMINOS a partir de la publicación en RAV de los términos
                    modificados. La totalidad de los términos modificados entrarán en
                    vigencia luego de 5 (cinco) días corridos contados a partir de la
                    fecha de publicación de los mismos en RAV.&nbsp; Todo USUARIO que no
                    se encuentre de acuerdo con las modificaciones incorporadas en los
                    TÉRMINOS podrá optar por no utilizar los SERVICIOS e incluso
                    solicitar la baja de la cuenta.</font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0.1in; background: #ffffff">
        <font color="#9ea6a4">&nbsp;</font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt"><b>10.
                        POLÍTICA DE PROTECCIÓN DE DATOS DE CARÁCTER PERSONAL</b></font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt">Para
                    la utilización de los SERVICIOS ofrecidos por RAV los USUARIOS
                    deberán brindar determinados datos de carácter personal (DATOS
                    PERSONALES). Toda la información personal es procesada y almacenada
                    en servidores y/o medios electrónicos con altos estándares de
                    seguridad y protección.&nbsp;</font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt">RAV
                    deja constancia que en cumplimiento de la Ley 25.326 NO SOLICITA
                    datos sensibles a sus USUARIOS y CLIENTES. Tampoco se hará
                    responsable de la inexactitud de los datos proporcionados por el
                    CLIENTE y USUARIOS.&nbsp;</font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0.1in; background: #ffffff">
        <font color="#9ea6a4">&nbsp;</font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt"><b>11.
                        RESPONSABILIDAD</b></font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt">El
                    USUARIO conoce, entiende y acepta que la calidad de la prestación de
                    los SERVICIOS ofrecidos en RAV se halla sujeta a cuestiones fuera del
                    alcance como así también de los CLIENTES, tales como el debido
                    funcionamiento de la red de telefonía de la empresa que el USUARIO
                    haya contratado, así como el correcto funcionamiento del dispositivo
                    móvil utilizado por el USUARIO.&nbsp;</font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt">RAV
                    no es responsable del deficiente funcionamiento del
                    geo-posicionamiento o su desvío, cuando este se deba a factores
                    externos, tales como las condiciones meteorológicas, la ionización
                    del aire y fuentes próximas de energía estática, la magnitud de
                    las construcciones y los árboles existentes en el área, la cantidad
                    de antenas disponibles en la zona para la triangulación de la señal,
                    entre otros.</font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0.1in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt">El
                    USUARIO conoce, entiende, acepta y declara expresamente que RAV no
                    será responsable por los daños, directos o indirectos de cualquier
                    naturaleza ni por el lucro cesante emergentes de la interrupción y/o
                    falla de comunicación total o parcial que impida o dificulte la
                    prestación de los SERVICIOS; como así tampoco de los efectos
                    directos e indirectos, mediatos o inmediatos que la/s contingencias
                    que se puedan&nbsp;generar a las personas involucradas en los hechos
                    que disparen la utilización de los presentes SERVICIOS.</font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt">Condiciones
                    reales, asunción de riesgos. Al utilizar los datos, mapas y otro
                    contenido de RAV, puede que las condiciones reales difieran de los
                    resultados de los mapas y del contenido, por lo que el usuario deberá
                    aplicar su propio criterio y utilizar esta herramienta bajo su propia
                    responsabilidad. El usuario es responsable en todo momento de su
                    conducta y la consecuencia de esta.</font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt">RAV
                    queda expresamente liberada de toda obligación y responsabilidad
                    para con el Cliente y Usuario, en los siguientes casos:</font>
            </font>
        </font>
    </p>
    <ol>
        <li>
            <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
                <font color="#000000">
                    <font face="Noto Sans, serif">
                        <font size="2" style="font-size: 10pt">Uso
                            indebido por parte del Usuario.</font>
                    </font>
                </font>
            </p>
        <li>
            <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
                <font color="#000000">
                    <font face="Noto Sans, serif">
                        <font size="2" style="font-size: 10pt">Suspensión
                            del funcionamiento del servicio, debido a razones de fuerza mayor o
                            caso fortuito, tales como sismo, cortes de energía eléctrica o de
                            las líneas de transmisión, actos vandálicos, problemas
                            electrónicos, etc.</font>
                    </font>
                </font>
            </p>
        <li>
            <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
                <font color="#000000">
                    <font face="Noto Sans, serif">
                        <font size="2" style="font-size: 10pt">Problemas
                            derivados del acceso o uso de internet o red de telefonía móvil
                            por parte del Cliente.</font>
                    </font>
                </font>
            </p>
    </ol>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt">Ninguna
                    reclamación podrá hacerse valer por EL CLIENTE o USUARIO en contra
                    de RAV 2 (dos) meses después de la fecha en que haya ocurrido el
                    hecho que sirve de base a una reclamación o acción subyacente.</font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0.1in; background: #ffffff">
        <font color="#9ea6a4">&nbsp;&nbsp;</font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt"><b>13.
                        PROPIEDAD INTELECTUAL</b></font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt">Las
                    marcas, avisos, nombres comerciales, frases publicitarias, dibujos,
                    ilustraciones, diseños, logotipos, textos, sentencias y código
                    fuente de RAV son propiedad exclusiva de RAV Y MEYRIN S.A. Queda
                    estrictamente prohibido cualquier uso y/o explotación de parte de
                    terceros por cualquier medio sin el consentimiento previo y por
                    escrito. El diseño, contenido y código fuente se encuentra
                    debidamente protegido conforme lo dispuesto en la Ley 11.723 de
                    Propiedad Intelectual por lo que queda estrictamente prohibido:
                    modificar, copiar, distribuir, transmitir, desplegar, publicar,
                    editar, vender o de cualquier forma explotar el diseño, contenido
                    y/o código fuente de forma total y/o parcial con fines comerciales
                    y/o particulares. La violación de esta prohibición hará pasibles a
                    sus autores de las sanciones penales previstas en las Leyes 11.723 y
                    22.362. Se deja expresa constancia que las referencias, tanto al
                    contenido de RAV como a las prohibiciones son meramente enunciativas
                    y no limitativas.</font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0.1in; background: #ffffff">
        <font color="#9ea6a4">&nbsp;</font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt"><b>14.
                        DOMICILIO Y LEY APLICABLE</b></font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt"><b>Jurisdicción</b></font>
            </font>
        </font>
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt">.
                    El presente acuerdo estará regido en todos sus puntos por las leyes
                    vigentes de la República Argentina. Ante cualquier controversia
                    derivada de la presente USUARIOS, CLIENTES y RAV se someten a la
                    Jurisdicción de los Tribunales de la Ciudad Autónoma de Buenos
                    Aires (CABA) de la República Argentina.&nbsp;</font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt"><br />
                </font>
            </font>
        </font><br />

    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#2d373c">
            <font face="Noto Sans, serif">
                <font size="5" style="font-size: 18pt"><b>POLÍTICA
                        DE PRIVACIDAD</b></font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0.1in; background: #ffffff">
        <br />
        <br />

    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt">Creamos
                    y mejoramos RAV poniendo el foco en que estés más seguro. Buscamos
                    que mejores tu calidad de vida a partir de las herramientas de
                    seguridad que nosotros te brindamos. Nos interesa tu seguridad y la
                    de tu familia. Para nosotros, la privacidad de tus datos personales
                    también forma parte de tu seguridad. Es por eso que aquí te
                    contaremos cómo tratamos y protegemos tu información. Podrás
                    conocer en detalle cuál es la información que recolectamos, qué
                    hacemos con ella y cómo la utilizamos.</font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0.1in; background: #ffffff">
        <font color="#9ea6a4">&nbsp;</font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="4" style="font-size: 15pt"><b>1.
                        Qué datos recolectamos</b></font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt">Para
                    llevar adelante los SERVICIOS ofrecidos por RAV recogemos y
                    utilizamos cierta información sobre nuestros usuarios.&nbsp;</font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt">Para
                    utilizar cualquiera de los SERVICIOS ofrecidos por RAV, el USUARIO
                    deberá suministrar los siguientes datos personales:</font>
            </font>
        </font>
    </p>
    <ol>
        <li>
            <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
                <font color="#000000">
                    <font face="Noto Sans, serif">
                        <font size="2" style="font-size: 10pt">Nombre
                            completo</font>
                    </font>
                </font>
            </p>
        <li>
            <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
                <font color="#000000">
                    <font face="Noto Sans, serif">
                        <font size="2" style="font-size: 10pt">Apellido</font>
                    </font>
                </font>
            </p>
        <li>
            <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
                <font color="#000000">
                    <font face="Noto Sans, serif">
                        <font size="2" style="font-size: 10pt">Número
                            telefónico</font>
                    </font>
                </font>
            </p>
        <li>
            <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
                <font color="#000000">
                    <font face="Noto Sans, serif">
                        <font size="2" style="font-size: 10pt"><span style="background: #ffffff">Lugar
                                de residencia</span></font>
                    </font>
                </font>
            </p>
        <li>
            <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
                <font color="#000000">
                    <font face="Noto Sans, serif">
                        <font size="2" style="font-size: 10pt">Dirección
                            de la casa y/o trabajo (al menos una de las dos direcciones debe
                            estar geográficamente dentro del lugar de residencia)</font>
                    </font>
                </font>
            </p>
        <li>
            <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
                <font color="#000000">
                    <font face="Noto Sans, serif">
                        <font size="2" style="font-size: 10pt">Imagen
                            de perfil.&nbsp;</font>
                    </font>
                </font>
            </p>
        <li>
            <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
                <font color="#000000">
                    <font face="Noto Sans, serif">
                        <font size="2" style="font-size: 10pt">Número
                            telefónico.</font>
                    </font>
                </font>
            </p>
        <li>
            <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
                <font color="#000000">
                    <font face="Noto Sans, serif">
                        <font size="2" style="font-size: 10pt">Foto
                            del DNI frente y reverso.</font>
                    </font>
                </font>
            </p>
    </ol>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#9ea6a4">&nbsp;</font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt">El
                    USUARIO entiende y acepta que es su responsabilidad mantener seguro
                    tanto su teléfono móvil como el acceso a RAV. Por lo tanto, le
                    recomendamos no liberar su teléfono móvil para eliminar las
                    restricciones y/o limitaciones impuestas por el sistema operativo
                    oficial de su dispositivo, dado que ese proceso podría hacer a su
                    teléfono vulnerable ante programas maliciosos comprometiendo su
                    seguridad y con ello el acceso y la correcta utilización de RAV.</font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt">En
                    cumplimiento del art. 9 Ley 25.326 de la República Argentina, BASAPP
                    garantizará la seguridad y confidencialidad de los datos personales
                    aportados por los USUARIOS utilizando los estándares de la industria
                    en materia de protección y confidencialidad de la INFORMACIÓN.&nbsp;</font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0.1in; background: #ffffff">
        <font color="#9ea6a4">&nbsp;</font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#9ea6a4">&nbsp;</font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="4" style="font-size: 15pt"><b>2.
                        Tu consentimiento al utilizar la aplicación</b></font>
            </font>
        </font>
    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt"><br />
                </font>
            </font>
        </font><br />

    </p>
    <p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
        <font color="#000000">
            <font face="Noto Sans, serif">
                <font size="2" style="font-size: 10pt">Al
                    utilizar RAV, el USUARIO brinda su consentimiento expreso, libre e
                    informado para que RAV haga uso de la INFORMACIÓN recogida de
                    acuerdo a éstas POLÍTICAS.</font>
            </font>
        </font>
    </p>
    <p style="line-height: 108%; margin-bottom: 0.11in"><br />
        <br />

    </p>
</body>

</html> --}}