<ion-content id="content">
  <ion-grid class="class-grid">
    <form class="submit-container" [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-row class="ion-justify-content-center">
        <!-- <img src="assets/imgs/logo.svg" width="120px"> -->
        <h1 class="title-logo">
          <span class="title">
            Leví
          </span>
          <span class="ion-margin-top">Una app para músicos</span>
        </h1>
      </ion-row>

      <ion-row class="ion-margin-top row-control">
        <div class="shadow-circle"></div>
        <ion-col size="12">
          <ion-label color="light">Email</ion-label>
          <ion-item class="w100 ion-margin-top fix-floating" lines="none">
            <ion-input color="dark" type="email" formControlName="username"></ion-input>
          </ion-item>
          <div *ngIf="!isFieldValid('username')" class="invalid-input-message">
            {{getFieldError('username')}}
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-label color="light">Contraseña</ion-label>
          <ion-item class="ion-align-items-center w100 fix-floating" lines="none">
            <ion-icon color="primary" slot="end" [name]="showPassword ? 'eye-off' : 'eye'"
              (click)="showPassword = !showPassword"></ion-icon>
            <ion-input color="dark" [type]="showPassword ? 'text' : 'password'" formControlName="password"></ion-input>
          </ion-item>
          <div *ngIf="!isFieldValid('password')" class="invalid-input-message">
            {{getFieldError('password')}}
          </div>
        </ion-col>

        <ion-col size="12" class="ion-text-center">
          <ion-text class="w100" type="button" (click)="goToRecoverPassword()">
            <p class="recover">Olvidé mi contraseña</p>
          </ion-text>
        </ion-col>

        <ion-col size="12">
          <ion-button type="submit" class="global-btn ion-text-capitalize" color="primary" expand="block">
            <ion-text color="light">
              Iniciar sesión
            </ion-text>
          </ion-button>

          <ion-button type="button" class="global-btn ion-text-capitalize ion-margin-top" color="light"
            expand="block" fill="clear" (click)="goToUser()">
            <ion-text color="light">
              Registrarse
            </ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </form>

    <ion-row class="ion-justify-content-center ion-margin-top">
      <ion-text class="ion-text-center versionText">
        <p>v{{ settings.APP_VERSION }}</p>
      </ion-text>
    </ion-row>
  </ion-grid>
</ion-content>