<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title color="light">Canciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding-start ion-padding-end ion-margin-top">
    <ion-row>
      <ion-item lines="none" class="border-10">
        <ion-icon name="search" slot="start"></ion-icon>
        <ion-input type="text" placeholder="Buscar"></ion-input>
        <ion-button slot="end" fill="clear" class="ion-text-capitalize">
          <ion-icon name="options-outline" slot="start" class="rotate"></ion-icon>
          Ordenar
        </ion-button>
      </ion-item>
    </ion-row>
    <span>Más nuevas - A-Z - Z-A</span>
  </div>

  <ion-list>
    <ion-card *ngFor="let item of items; let index = index">
      <ion-item-sliding>
        <ion-item (click)="goToSong(item.id)" lines="none" class="ion-align-items-center">
          <ion-label class="ion-text-wrap">
            <h2>{{item.name}}</h2>
            <ion-label>{{item.author}}</ion-label>
          </ion-label>
          <ion-buttons slot="end">
            <div class="note">{{ settings.notesObject[item.tone-1].name}}</div>
          </ion-buttons>
        </ion-item>

        <ion-item-options>
          <ion-item-option (click)="pageService.navigateRoute('song/edit/' + item.id)" color="secondary">
            <ion-icon slot="start" name="create-outline"></ion-icon>
            Editar</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>
  </ion-list>

  <ion-fab class="ion-fab-custom" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="primary" (click)="goToCreateSong()">
      <ion-icon color="secondary" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>