<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title color="light">Canciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding-start ion-padding-end ion-margin-top">
    <ion-row>
      <ion-col size="9.5">
        <ion-searchbar [(ngModel)]='textSearch' (ionChange)='getItems()' type="text" placeholder="Buscar"></ion-searchbar>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="sortSongs()" class="ion-margin-end" fill="solid" color="dark" shape="round">
          <ion-icon name="swap-vertical-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <div class="d-flex ion-align-items-center">
      <span>{{ this.sortAsc == null ? 'Más nuevas' : this.sortAsc == 1 ? 'A-Z' : 'Z-A'}}</span>
    </div>
  </div>

  <ion-list>
    <ion-card *ngFor="let item of items; let index = index">
      <ion-item-sliding>
        <ion-item (click)="goToSong(item.id)" lines="none" class="ion-align-items-center">
          <ion-label class="ion-text-wrap">
            <h2>{{item.name}}</h2>
            <ion-label>{{item.author}}</ion-label>
          </ion-label>
          <ion-buttons slot="end">
            <div class="note">{{ settings.notesObject[item.tone-1].name}}</div>
          </ion-buttons>
        </ion-item>

        <ion-item-options>
          <ion-item-option (click)="pageService.navigateRoute('song/edit/' + item.id)" color="secondary">
            <ion-icon slot="start" name="create-outline"></ion-icon>
            Editar</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>
  </ion-list>

  <ion-fab class="ion-fab-custom" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="primary" (click)="goToCreateSong()">
      <ion-icon color="secondary" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>