//////// Tabs ////////
ion-tabs {
    background: var(--ion-color-secondary) !important;
    z-index: 10;

    ion-tab-bar {
        --background: var(--ion-color-light) !important;
    }
}

ion-tab-bar {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    bottom: 20px;
    position: relative;
    border-radius: 8px;
    width: 92%;
    border-top: none;
    margin: 0 auto;
    height: 55px;
}

ion-tab-button {
    --color: var(--ion-color-medium);
    --color-selected: var(--ion-color-primary);
    position: relative;
    --padding-bottom: 8px;
    --padding-top: 8px;

    &.tab-selected::before {
        background-color: var(--ion-color-primary) !important;
        bottom: 3px;
        right: 0;
        left: 0;
        position: absolute;
        display: block;
        justify-content: center;
        content: "";
        margin: 0 auto;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: var(--ion-color-secondary);
    }
}