<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" *ngIf="register">
      <ion-back-button color="light" icon="arrow-back-circle" defaultHref="/user"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Mi ubicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar placeholder="Buscar" class="ion-margin-top"></ion-searchbar>

  <div #map id="map"></div>

  <ion-card>
    <ion-item lines="none">
      <ion-icon name="location" color="light"></ion-icon>
      <ion-text color="light">
        <p>Hipólito Yrigoyen 131, X5152 Villa Carlos Paz, Córdoba</p>
      </ion-text>
    </ion-item>
  </ion-card>

  <ion-button expand="block" class="global-btn ion-text-capitalize ion-margin-top" color="secondary">
    Guardar Cambios
  </ion-button>
</ion-content>