ion-content {

  .mt {
    margin-top: 40px;
  }

  p {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--ion-color-primary);
  }

  h6 {
    color: var(--ion-color-primary);
  }
}

ion-footer {
  font-family: 'Poppins';
  background-color: #ECECEC !important;

  p {
    font-size: 0.9rem;
    color: var(--ion-color-primary);
  }
}