<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
    <div style="page-break-before:always; page-break-after:always">
        <div>
            <p><b>POLITICAS DE PRIVACIDAD</b> <br /></p>
            {{!-- <p><b>TERMINOS Y CONDICIONES</b> <br /></p>
            <p><b>CONDICIONES DE USO</b> <br /></p> --}}
            <p><b>&#8220;APLICACI&#211;N Y SERVICIO PRISUS&#8221;</b> <br /></p>
            <p><b>1. INFORMACI&#211;N GENERAL</b> <br /></p>
            <p>Prisus es un servicio, en adelante, <b>&quot;Servicio Prisus&quot;</b> que, <br />mediante la descarga de
                una aplicaci&#243;n en su dispositivo m&#243;vil, <br />en adelante, la
                <b>&#8220;Aplicaci&#243;n&quot;</b>, permite al usuario realizar un <br />registro fotogr&#225;fico y
                dotarlo de geolocalizaci&#243;n <br />referenciada, incluyendo fecha, hora y lugar en donde fue
                <br />capturado. Simult&#225;neamente, la Aplicaci&#243;n, de forma <br />autom&#225;tica, env&#237;a la
                captura fotogr&#225;fica a uno o m&#225;s <br />dispositivos previamente determinados por el usuario. La
                <br />finalidad del Servicio Prisus radica en dotar al usuario, de <br />una herramienta disuasiva de
                situaciones de peligro, ayudando <br />a evitar potenciales agresiones. <br /></p>
            <p>A continuaci&#243;n se se&#241;alan los t&#233;rminos y condiciones de uso <br />que regulan el Servicio
                Prisus y su Aplicaci&#243;n, as&#237; como la <br />Pol&#237;tica de Privacidad y de Cookies, relativa
                al tratamiento <br />de datos de car&#225;cter personal del Usuario, todo ello <br />denominado, en
                adelante, como las &#8220;<b>Condiciones de Uso</b>&#8221;. <br /></p>
            <p>La descarga de la Aplicaci&#243;n en su Dispositivo y/o posterior <br />uso supondr&#225; la
                aceptaci&#243;n, por parte del Usuario, del <br />contenido de las Condiciones de Uso que se detallan a
                <br />continuaci&#243;n. Si, tras conocerlas, el Usuario no est&#225; de <br />acuerdo con las
                Condiciones de Uso, no tendr&#225; derecho a <br />utilizar la Aplicaci&#243;n y Servicio Prisus. Por
                consiguiente, la <br />utilizaci&#243;n de los mismos sin observar estos T&#233;rminos, podr&#225;
                <br />conllevar la imposici&#243;n de sanciones civiles y penales conforme <br />la legislaci&#243;n
                aplicable en cada territorio en donde sean <br />adquiridos. <br /></p>
            <p>Las presentes Condiciones de Uso constituyen el contrato <br />suscrito por el Usuario y el desarrollador
                en relaci&#243;n a la <br />Aplicaci&#243;n y el Servicio Prisus, y sustituyen cualesquiera <br />otros
                contratos o acuerdos previos entre dichas partes <br />relativos a la Aplicaci&#243;n y al Servicio
                Prisus, ya sean <br />verbales o escritos. <br /></p>
            <p><b>2. DATOS DEL DESARROLLADOR</b> <br /></p>
            <p>El Servicio Prisus junto con su aplicaci&#243;n fue desarrollado <br />por <b>Inversiones Leebrond Chile
                    Limitada</b>, en adelante &#8220;<b>Leebrond <br />Chile</b>&#8221;, sociedad del giro de su
                denominaci&#243;n, rol &#250;nico </p>

        </div>
    </div>
    <div style="page-break-before:always; page-break-after:always">
        <div>
            <p>tributario n&#250;mero 76.225.210-4, domiciliada en Avenida Am&#233;rico <br />Vespucio Sur n&#250;mero
                960, comuna de Las Condes, ciudad de <br />Santiago, Regi&#243;n Metropolitana, Chile. <br /></p>
            <p>La utilizaci&#243;n de la Aplicaci&#243;n y Servicio Prisus se recomienda <br />para mayores de 18
                a&#241;os. Si usted es menor de edad o incapaz, <br />le recomendamos informar y consultar a sus padres
                o tutores <br />legales a la hora de transmitir informaci&#243;n a otros Usuarios, <br />a trav&#233;s
                de la Aplicaci&#243;n y el Servicio Prisus. <br /></p>
            <p>Las Condiciones de Uso constituyen el contrato suscrito por el <br />Usuario y Leebrond Chile, en
                relaci&#243;n a la Aplicaci&#243;n y al <br />Servicio Prisus, y sustituyen cualesquiera otros contratos
                o <br />acuerdos previos entre dichas partes relativos a la Aplicaci&#243;n <br />y al Servicio Prisus,
                ya sean verbales o escritos. <br /></p>
            <p><b>3. DESCARGA DE LA APLICACI&#211;N</b> <br /></p>
            <p>La Aplicaci&#243;n se encuentra disponible para su descarga a trav&#233;s <br />de las Tiendas de
                Aplicaciones App Store y Google Play, en <br />donde encontrar&#225; informaci&#243;n detallada acerca
                de la misma del <br />Servicio Prisus, incluido: una descripci&#243;n de sus principales
                <br />funcionalidades y caracter&#237;sticas; los requisitos t&#233;cnicos <br />requeridos para su
                descarga e instalaci&#243;n (sistema operativo, <br />dispositivos admitidos, etc.); acceso a nuestro
                sitio web, etc. <br /></p>
            <p>Para poder descargar la Aplicaci&#243;n y el Servicio Prisus, se <br />debe contar con un Dispositivo
                (<b>&quot;Dispositivo&quot;</b>) que utilice <br />alguno de los siguientes sistemas operativos (o
                superiores): <br />iOS 11.2 para iPhone y Android 5.1. Todos los dispositivos y <br />terminales que
                soportan estos sistemas operativos re&#250;nen las <br />caracter&#237;sticas necesarias para el
                correcto funcionamiento de <br />la Aplicaci&#243;n. No obstante, y de forma concreta, los terminales
                <br />deber&#225;n poder recibir Notificaciones Push para poder acceder a <br />la activaci&#243;n de la
                localizaci&#243;n y tener acceso y conexi&#243;n a <br />Datos 3G o superior. <br /></p>
            <p><b>4. ACCESO Y DESCARGA DE LA APLICACI&#211;N DESDE APPSTORE</b> <br /></p>
            <p>Lo siguiente se aplica a cualquier Aplicaci&#243;n a la que se <br />acceda o descargue desde la App
                Store de Apple: <br /></p>
            <p>a. El Usuario acepta y est&#225; de acuerdo en que (i) las <br />presentes condiciones est&#225;n
                suscritas entre &#233;ste y Leebrond <br />Chile solamente, y no Apple, y; (ii) Leebrond Chile es la
                &#250;nica <br />responsable de la Aplicaci&#243;n y Servicio Prisus con origen en <br />la App Store y
                su contenido. El uso de la aplicaci&#243;n con origen </p>

        </div>
    </div>
    <div style="page-break-before:always; page-break-after:always">
        <div>
            <p>en la App Store debe cumplir con los T&#233;rminos y Condiciones de <br />Servicio de App Store. <br />b.
                El Usuario acepta que Apple no tiene obligaci&#243;n de <br />ofrecerle servicios de mantenimiento y
                asistencia con respecto <br />a la Aplicaci&#243;n con origen en la App Store. <br />c. En el caso de
                que de la aplicaci&#243;n con origen en la App <br />Store se incumpla cualquier garant&#237;a
                aplicable, el Usuario <br />puede notificarlo a Apple y &#233;sta, a su vez, le reembolsar&#225; el
                <br />precio de compra de la aplicaci&#243;n con origen en la App Store, <br />en la m&#225;xima medida
                en que lo permita la normativa aplicable. <br />Apple no tendr&#225; ninguna otra obligaci&#243;n de
                garant&#237;a con <br />respecto a la aplicaci&#243;n con origen en la App Store. Todas las <br />otras
                reclamaciones, p&#233;rdidas, responsabilidades, <br />indemnizaciones por da&#241;os y perjuicios,
                costes o gastos <br />imputables a cualquier incumplimiento de cualquier garant&#237;a <br />ser&#225;n
                responsabilidad exclusiva de Leebrond Chile. <br />d. El Usuario y Leebrond Chile aceptan que Apple no
                es <br />responsable de resolver ninguna reclamaci&#243;n que el Usuario <br />plantee, o ninguna
                reclamaci&#243;n de terceros relacionada con la <br />aplicaci&#243;n con origen en la App Store, o su
                posesi&#243;n y uso, <br />tales como: (i) reclamaciones de responsabilidad por producto
                <br />defectuoso; (ii) toda reclamaci&#243;n de que la Aplicaci&#243;n con <br />origen en la App Store
                no cumple alg&#250;n requisito legal o <br />normativo aplicable, y; (iii) reclamaciones en virtud de
                leyes <br />de protecci&#243;n del consumidor o similares. <br />e. El Usuario y Leebrond Chile aceptan
                que, en el caso de <br />una reclamaci&#243;n de tercero consistente en que la aplicaci&#243;n <br />con
                origen en la App Store, o la posesi&#243;n y uso por el Usuario <br />de esa aplicaci&#243;n, infrinja
                los derechos de propiedad <br />intelectual de un tercero, ser&#225; Leebrond Chile y no Apple, la
                <br />&#250;nica responsable de la investigaci&#243;n, defensa, resoluci&#243;n y <br />exoneraci&#243;n
                en relaci&#243;n con cualquier reclamaci&#243;n por <br />infracci&#243;n de propiedad intelectual, en
                la medida que as&#237; lo <br />requieran las presentes condiciones. <br />f. El Usuario y Leebrond
                Chile aceptan y est&#225;n de acuerdo en <br />que Apple y las filiales de Apple son terceros
                beneficiarios <br />de estos T&#233;rminos y Condiciones de Uso, y por tanto, despu&#233;s <br />de su
                aceptaci&#243;n, Apple tendr&#225; derecho de exigir su <br />cumplimiento, como tercero beneficiario de
                los mismos. <br />g. Sin perjuicio de ning&#250;n otro t&#233;rmino de las presentes <br />condiciones,
                el Usuario deber&#225; cumplir todos los t&#233;rminos <br />contractuales de terceros aplicables cuando
                utilice la <br />Aplicaci&#243;n con origen en la App Store. <br /></p>
            {{!-- <p><b>5. PRECIO DE LA APLICACI&#211;N.</b> </p> --}}

        </div>
    </div>
    <div style="page-break-before:always; page-break-after:always">
        <div>
            {{!-- <p>La descarga de la Aplicaci&#243;n se podr&#225; efectuar a cambio del <br />pago de la cantidad
                &#250;nica y total de <b>US $3,99.-</b>, a trav&#233;s del <br />medio de pago que el Usuario seleccione
                de entre los <br />disponibles en la Tienda de Aplicaciones respectiva. <br />Dependiendo del pa&#237;s
                desde donde se efect&#250;e el pago, este <br />podr&#237;a incluir impuestos adicionales. Como
                contraprestaci&#243;n <br />al precio, el Usuario obtiene su licencia de uso de la <br />Aplicaci&#243;n
                y Servicio Prisus durante el per&#237;odo de duraci&#243;n <br />establecido en las presentes
                Condiciones de Uso. <br /></p>
            <p>El usuario no residente en los Estados Unidos de Norteam&#233;rica, <br />autoriza, desde ya, a que el
                precio de la Aplicaci&#243;n le sea <br />facturado en D&#243;lares Estadounidenses. <br /></p>
            <p>Leebrond Chile se reserva el derecho a modificar el precio de <br />la Aplicaci&#243;n y Servicio Prisus
                en cualquier momento y sin <br />previo aviso. <br /></p> --}}
            <p><b>5. POL&#205;TICAS DE RETRACTO.</b> <br /></p>
            <p>Las pol&#237;ticas de retracto en la adquisici&#243;n de la aplicaci&#243;n y <br />servicio Prisus se
                ce&#241;ir&#225;n conforme a la legislaci&#243;n vigente <br />en cada pa&#237;s donde sean adquiridos.
                En el caso de Chile, se <br />aplicar&#225; lo estipulado en el art&#237;culo tercero bis letra c) de
                <br />la Ley N&#176;19.496 sobre Derechos del Consumidor, otorgando al <br />Usuario, la posibilidad de
                poner t&#233;rmino unilateral al presente <br />contrato dentro del plazo de diez d&#237;as contados a
                partir de su <br />celebraci&#243;n, asisti&#233;ndole el derecho a exigir al proveedor, la
                <br />devoluci&#243;n &#237;ntegra del precio pagado por la aplicaci&#243;n y <br />servicio Prisus.
                <br /></p>
            <p>Sin perjuicio de lo anterior, las tiendas de aplicaciones App <br />store y Google Play poseen sus
                propias pol&#237;ticas de retracto y <br />reembolso, cuyo link se presenta a continuaci&#243;n: <br />
            </p>
            <p>http://www.apple.com/shop/help/returns_refund <br /></p>
            <p>https://support.google.com/googleplay/answer/2479637?hl=es-<br />419&amp;ref_topic=6046221<b>7. </b>
                <br /></p>
            <p><b>6. REGISTRO DEL USUARIO</b> <br /></p>
            <p>Una vez descargada la Aplicaci&#243;n en su Dispositivo, el Usuario <br />deber&#225; proceder a su
                registro como Usuario de la Aplicaci&#243;n y <br />Servicio Prisus, a trav&#233;s de la creaci&#243;n
                de una Cuenta de <br />Acceso. El registro como Usuario es un proceso sencillo, en el <br />que el
                Usuario deber&#225; seguir las instrucciones que, a trav&#233;s </p>

        </div>
    </div>
    <div style="page-break-before:always; page-break-after:always">
        <div>
            <p>de la Aplicaci&#243;n, le sean informadas, suministrando una serie <br />de datos personales, nombre de
                usuario y contrase&#241;a para el <br />Registro y creaci&#243;n de la Cuenta de Acceso a la
                Aplicaci&#243;n y <br />Servicio Prisus. <br /></p>
            <p>El Registro del Usuario se crear&#225; sobre la base de los datos <br />personales que suministre el
                Usuario, o que se obtengan a <br />trav&#233;s de una base de datos p&#250;blica. El Usuario se
                compromete <br />a facilitar informaci&#243;n precisa, actual, completa y fidedigna <br />y a
                actualizarla en caso de ser necesaria. Para permitir el <br />correcto funcionamiento de la
                Aplicaci&#243;n, el usuario deber&#225; <br />dar acceso a lista de contactos, c&#225;mara,
                geolocalizaci&#243;n. <br /></p>
            <p>Leebrond Chile se reserva el derecho de suspender o cancelar <br />la Cuenta de Acceso a la
                Aplicaci&#243;n y Servicio Prisus a todo <br />aquel Usuario si se observa que &#233;ste, al momento del
                Registro <br />y en actualizaciones posteriores, ha facilitado informaci&#243;n <br />imprecisa,
                fraudulenta, no actual o incompleta, o que infrinja <br />los presentes T&#233;rminos y Condiciones de
                Uso. <br /></p>
            <p>El Usuario es el &#250;nico responsable de proteger su nombre de <br />usuario y contrase&#241;a para
                acceder a la Aplicaci&#243;n y Servicio <br />Prisus, no cabiendo a Leebrond Chile ninguna
                responsabilidad <br />por cualquier acci&#243;n o actividad no autorizada por el Usuario. <br />En caso
                de advertir alguna irregularidad en su Cuenta de <br />Acceso, el Usuario deber&#225; notificar
                inmediatamente a Leebrond <br />Chile. <br /></p>
            <p>Para cualquier duda en relaci&#243;n con el registro como Usuario <br />de la Aplicaci&#243;n y Servicio
                Prisus, puede ponerse en contacto <br />con Leebrond Chile, a trav&#233;s de la siguiente direcci&#243;n
                de <br />correo electr&#243;nico: <b>support@prisusapp.com</b>. <br /></p>
            <p><b>7. LICENCIA DE USO DE LA APLICACI&#211;N</b> <br /></p>
            <p>Por medio de las presentes Condiciones de Uso otorgamos al <br />Usuario una licencia no exclusiva e
                intransferible, y por el <br />periodo de duraci&#243;n establecido en estas Condiciones de Uso,
                <br />para instalar y utilizar La Aplicaci&#243;n en un Dispositivo de su <br />propiedad, con la
                &#250;nica finalidad de poder emplear el Servicio <br />Prisus. En ning&#250;n caso el Usuario
                podr&#225; arrendar, prestar, <br />vender, distribuir o sub-licenciar la Aplicaci&#243;n a terceros.
                <br />Asimismo, el Usuario se compromete a eliminar La Aplicaci&#243;n <br />del Dispositivo con
                car&#225;cter previo a cualquier transmisi&#243;n <br />del Dispositivo a un tercero. </p>

        </div>
    </div>
    <div style="page-break-before:always; page-break-after:always">
        <div>
            <p>Salvo que expresamente se indique otra cosa, cualquier <br />utilizaci&#243;n de la Aplicaci&#243;n con
                una finalidad distinta a la <br />enunciada anteriormente requerir&#225; de previa y expresa
                <br />autorizaci&#243;n por escrito de Leebrond Chile. Asimismo, el <br />Usuario requerir&#225; de
                nuestra previa autorizaci&#243;n por escrito <br />para realizar versiones sucesivas de la
                Aplicaci&#243;n o de <br />programas derivados de la misma. <br /></p>
            <p>El Usuario no est&#225; autorizado para descompilar, desensamblar, <br />realizar ingenier&#237;a
                inversa, desencriptar o de cualquier otra <br />manera modificar la Aplicaci&#243;n y/o su c&#243;digo
                fuente. <br /></p>
            <p>La documentaci&#243;n relacionada con la Aplicaci&#243;n y/o el Servicio <br />Prisus que facilitamos al
                Usuario (manuales de uso, <br />instrucciones, las presentes Condiciones de Uso, etc.) son de
                <br />exclusiva propiedad de Leebrond Chile. <br /></p>
            <p><b>8. SERVICIOS QUE ENTREGA LA APLICACI&#211;N</b> <br /></p>
            <p>A trav&#233;s del Servicio Prisus el Usuario podr&#225;: <br /></p>
            <p>a) Realizar un registro fotogr&#225;fico y dotarlo de <br />geolocalizaci&#243;n referenciada, incluyendo
                fecha, hora y lugar <br />en donde fue capturado, y; <br /></p>
            <p>b) Enviar la captura fotogr&#225;fica, de forma autom&#225;tica, a uno o <br />m&#225;s dispositivos
                previamente determinados por el usuario, que <br />recibir&#225;n el nombre de &#8220;Guardianes&#8221;.
                <br /></p>
            <p>En el Servicio Prisus, el Usuario decide en todo momento con <br />quien quiere compartir su
                localizaci&#243;n, de manera que s&#243;lo <br />tendr&#225;n acceso a esta informaci&#243;n aquellos
                Guardianes que <br />voluntariamente hayan sido seleccionados por el Usuario. <br /></p>
            <p>La informaci&#243;n correspondiente a la localizaci&#243;n del Usuario <br />no ser&#225; compartida por
                Leebrond Chile con ning&#250;n tercero <br />distinto de aquellos exclusiva y voluntariamente escogidos
                por <br />el Usuario. Para seleccionar los Guardianes con los que el <br />Usuario compartir&#225; sus
                registros fotogr&#225;ficos y localizaci&#243;n, <br />deber&#225; seguir los pasos que se detallan en
                La Aplicaci&#243;n, una <br />vez se descargue &#233;sta en su Dispositivo. <br /></p>
            <p>Asimismo, en cualquier momento podr&#225; dejar de compartir sus <br />registros fotogr&#225;ficos y
                localizaci&#243;n con otros Usuarios. Esta <br />opci&#243;n estar&#225; en todo momento disponible.
                <br /></p>
            <p><b>9. USO DE LA APLICACI&#211;N Y DEL SERVICIO PRISUS</b> </p>

        </div>
    </div>
    <div style="page-break-before:always; page-break-after:always">
        <div>
            <p>El Usuario se compromete a utilizar la Aplicaci&#243;n y el Servicio <br />Prisus de conformidad con la
                ley, la moral, buenas costumbres <br />y orden p&#250;blico. El Usuario se obliga a abstenerse de
                utilizar <br />la Aplicaci&#243;n y/o el Servicio Prisus con fines o efectos <br />il&#237;citos,
                contrarios a lo establecido en las presentes <br />Condiciones de Uso, lesivos de los derechos e
                intereses de <br />Leebrond Chile o de terceros, o que de cualquier forma puedan <br />da&#241;ar, o
                deteriorar la imagen o reputaci&#243;n de Leebrond Chile, <br />o impedir la normal utilizaci&#243;n o
                disfrute de los servicios <br />que se ofrecen por parte de &#233;sta a trav&#233;s del Servicio Prisus
                <br />como de la Aplicaci&#243;n. <br /></p>
            <p>El Usuario &#250;nicamente podr&#225; utilizar la Aplicaci&#243;n y/o el <br />Servicio Prisus con fines
                exclusivamente personales y con el <br />alcance establecido en las presentes Condiciones de Uso. <br />
            </p>
            <p>Leebrond Chile podr&#225;, para mejorar su servicio y en beneficio <br />del Usuario, modificar
                unilateralmente, en cualquier momento y <br />sin previo aviso, la Aplicaci&#243;n y el Servicio Prisus,
                o <br />cualquier aspecto sustancial de los mismos, o sus condiciones <br />de operatividad,
                t&#233;cnicas y de uso. Del mismo modo, el Usuario, <br />con objeto de mejorar tanto la Aplicaci&#243;n
                como el Servicio <br />Prisus, y establecer un &#243;ptimo nivel de calidad, podr&#225; sugerir
                <br />aquellas modificaciones que estime &#250;tiles, as&#237; como obtener <br />cualquier
                informaci&#243;n adicional o solucionar sus dudas, quejas <br />o sugerencias, poni&#233;ndose en
                contacto a trav&#233;s de la direcci&#243;n <br />de correo electr&#243;nico
                <b>support@prisusapp.com</b>, sin que ello <br />suponga, no obstante, obligaci&#243;n alguna para
                Leebrond Chile. <br /></p>
            <p>Adem&#225;s de lo anteriormente mencionado, en particular, pero sin <br />limitaci&#243;n, el Usuario se
                abstendr&#225; de utilizar la Aplicaci&#243;n <br />y/o el Servicio Prisus para: <br /></p>
            <p>a) Acosar o perturbar a terceras personas y/o vulnerar su <br />intimidad y privacidad; <br /></p>
            <p>b) Suplantar la identidad de otros usuarios o terceros; <br /></p>
            <p>c) Espiar a otros Usuarios o terceros; <br /></p>
            <p>d) Poner en conocimiento de terceros la localizaci&#243;n de otros <br />Usuarios; <br /></p>
            <p>e) Menoscabar la reputaci&#243;n, imagen y honor de otros Usuarios <br />o de terceros; y </p>

        </div>
    </div>
    <div style="page-break-before:always; page-break-after:always">
        <div>
            <p>f) Utilizarla con fines publicitarios, al objeto de promocionar <br />productos, servicios o actividades
                propias o de terceros. <br /></p>
            <p>El Usuario no llevar&#225; a cabo ninguna actividad que pueda causar <br />un da&#241;o a la
                Aplicaci&#243;n y/o al Servicio Prisus y/o a su <br />funcionamiento y desarrollo. <br /></p>
            <p>Leebrond Chile se reserva el derecho a bloquear o eliminar el <br />perfil, as&#237; como a emprender
                aquellas acciones legales <br />pertinentes, en caso de que un Usuario contravenga lo dispuesto <br />en
                el presente Contrato. <br /></p>
            <p><b>10. PROPIEDAD INTELECTUAL</b> <br /></p>
            <p>Toda la informaci&#243;n contenida tanto en La Aplicaci&#243;n como en <br />el Servicio Prisus,
                incluyendo su dise&#241;o gr&#225;fico y el c&#243;digo <br />fuente, est&#225;n protegidos por derechos
                de autor y dem&#225;s derechos <br />recogidos en el Ordenamiento Jur&#237;dico Chileno y,
                especialmente, <br />en la Ley N&#176;17.336 sobre Propiedad Intelectual. <br /></p>
            <p>Las leyes en materia de derechos de autor y marcas comerciales <br />protegen &#237;ntegramente la
                Aplicaci&#243;n y Servicio Prisus. Por <br />medio de la aceptaci&#243;n a estos T&#233;rminos, el
                Usuario acepta y <br />est&#225; de acuerdo en que la Aplicaci&#243;n y el Servicio Prisus,
                <br />incluidos todos los derechos de propiedad marcaria asociados, <br />son de propiedad exclusiva de
                Leebrond Chile. El Usuario se <br />compromete a no retirar, alterar ni ocultar avisos de derechos
                <br />de autor u otros derechos de propiedad que vayan incorporados <br />o que acompa&#241;en la
                Aplicaci&#243;n y el Servicio Prisus. Todas las <br />marcas comerciales, marcas de servicio, logotipos,
                nombres <br />comerciales y cualquier otra designaci&#243;n de propiedad de <br />Leebrond Chile
                utilizados en o en relaci&#243;n con la Aplicaci&#243;n y <br />Servicio Prisus son marcas comerciales o
                marcas comerciales <br />registradas de Leebrond Chile. Las marcas comerciales, marcas <br />de
                servicio, logotipos, nombres comerciales y cualesquiera <br />otras designaciones de propiedad de
                terceros utilizados en o <br />en relaci&#243;n con la Aplicaci&#243;n y Servicio Prisus se utilizan,
                <br />solamente, para fines de identificaci&#243;n y pueden ser propiedad <br />de sus respectivos
                propietarios. <br /></p>
            <p>En virtud de lo anterior le queda expresamente prohibido al <br />Usuario cualquier acto de
                reproducci&#243;n, distribuci&#243;n, <br />transformaci&#243;n o comunicaci&#243;n p&#250;blica,
                as&#237; como cualquier tipo <br />de cesi&#243;n, del todo o parte del contenido de La Aplicaci&#243;n
                y <br />del Servicio Prisus y, en general, cualquier acto de <br />explotaci&#243;n de la totalidad o
                parte de los contenidos <br />(im&#225;genes, textos, dise&#241;o, &#237;ndices, formas, etc.) as&#237;
                como de </p>

        </div>
    </div>
    <div style="page-break-before:always; page-break-after:always">
        <div>
            <p>las bases de datos y del software necesario para la <br />visualizaci&#243;n o el funcionamiento de los
                mismos, y de cualquier <br />objeto que seg&#250;n la legislaci&#243;n vigente sea protegible por las
                <br />normas de propiedad intelectual. <br /></p>
            <p>El Usuario no podr&#225;, en ning&#250;n caso, explotar o servirse <br />comercialmente, de forma directa
                o indirecta, total o parcial, <br />de ninguno de los contenidos que conformen la Aplicaci&#243;n y/o
                <br />el Servicio Prisus sin la autorizaci&#243;n previa y por escrito de <br />Leebrond Chile. <br />
            </p>
            <p>Cualquier reproducci&#243;n o copia, distribuci&#243;n o publicaci&#243;n, de <br />cualquier clase, del
                contenido de la informaci&#243;n publicada en <br />la Aplicaci&#243;n y en el Sitio Web, sin
                autorizaci&#243;n previa y por <br />escrito de Leebrond Chile, queda prohibido y podr&#225; ser
                <br />sancionado conforme a la legislaci&#243;n vigente en cada <br />territorio. <br /></p>
            <p><b>11. PROTECCI&#211;N DE DATOS DE CAR&#193;CTER PERSONAL</b> <br /></p>
            <p>Como consecuencia del registro del Usuario en el Servicio <br />Prisus y la utilizaci&#243;n de
                &#233;ste, determinados datos de car&#225;cter <br />personal de su titularidad, incluyendo su nombre de
                Usuario, <br />n&#250;mero de tel&#233;fono y direcci&#243;n de correo electr&#243;nico, ser&#225;n
                <br />incorporados a un directorio &#8220;Cloud&#8221; de responsabilidad de <br />Leebrond Chile.
                <br /></p>
            <p>Sus datos de car&#225;cter personal ser&#225;n utilizados con la <br />finalidad de prestarle el Servicio
                Prisus, as&#237; como para el <br />mantenimiento, seguimiento, desarrollo y evoluci&#243;n de dicho
                <br />Servicio. <br /></p>
            <p>Todos los datos solicitados en el momento de registro como <br />Usuario del Servicio Prisus son
                obligatorios, la falta de <br />entrega de alguno de dichos datos podr&#225; impedir su registro en
                <br />el Servicio Prisus. <br /></p>
            <p>El Usuario podr&#225; ejercer sus derechos de acceso, rectificaci&#243;n, <br />cancelaci&#243;n y
                oposici&#243;n a la informaci&#243;n personal solicitada <br />por la Aplicaci&#243;n y el Servicio
                Prisus, mediante el env&#237;o de <br />una comunicaci&#243;n, incluyendo copia de su documento de
                identidad <br />o pasaporte, a la siguiente direcci&#243;n de correo electr&#243;nico:
                <br /><b>support@prisusapp.com</b>. <br /></p>
            <p>El tratamiento de los datos personales de cada usuario se <br />regir&#225; por las leyes aplicables al
                territorio en donde haya <br />sido adquirida la Aplicaci&#243;n y Servicio Prisus. En el caso de </p>

        </div>
    </div>
    <div style="page-break-before:always; page-break-after:always">
        <div>
            <p>Chile, se aplicar&#225;n las normas contenidas en la Ley N&#176;19.628 <br />sobre &#8220;Protecci&#243;n
                de Datos de Car&#225;cter Personal&#8221;. <br /></p>
            <p>Trat&#225;ndose de Usuarios residentes en los Estados Unidos de <br />Norteam&#233;rica, Leebrond Chile
                podr&#225;, en la medida en que lo <br />requieran las autoridades pertinentes, facilitar
                informaci&#243;n <br />con la finalidad de verificar sus antecedentes penales. <br /></p>
            <p> <br /></p>
            <p><b>12. LIMITACIONES TECNOL&#211;GICAS</b> <br /></p>
            <p>El Servicio Prisus es prestado con base en tecnolog&#237;as de <br />geolocalizaci&#243;n actualmente
                disponibles y cartograf&#237;as <br />proporcionadas por proveedores ajenos a Leebrond Chile, que no
                <br />tienen por qu&#233; ser infalibles. <br /></p>
            <p>Ponemos en conocimiento del Usuario que como consecuencia de <br />la realizaci&#243;n de trabajos de
                mantenimiento, en determinados <br />casos pueden producirse interrupciones temporales del Servicio
                <br />Prisus, sin que ello genere responsabilidad alguna para <br />Leebrond Chile. <br /></p>
            <p>Informamos asimismo al Usuario que, adem&#225;s de lo indicado <br />anteriormente, existe una gran
                variedad de factores que pueden <br />afectar al Servicio Prisus, su Aplicaci&#243;n y/o a su calidad,
                <br />las que a modo meramente enunciativo y en ning&#250;n caso <br />limitativo, se expresan a
                continuaci&#243;n: condiciones <br />ambientales, saturaci&#243;n de redes, conectividad, software de
                <br />terceros, rendimiento del dispositivo, etc. <br /></p>
            <p>A trav&#233;s de la siguiente direcci&#243;n de correo electr&#243;nico puede <br />ponerse en contacto
                con Leebrond Chile para informar acerca de <br />errores que detecte, as&#237; como comentarios y
                sugerencias: <br /><b>support@prisusapp.com</b>. <br /></p>
            <p><b>13. ENLACES A SITIOS WEB DE TERCEROS</b> <br /></p>
            <p>Los enlaces contenidos en la Aplicaci&#243;n y Servicio Prisus, <br />referidos a publicidad u otro tipo
                de contenidos, y cuya <br />titularidad o responsabilidad corresponda a terceros distintos <br />a
                Leebrond Chile, no son responsabilidad de esta &#250;ltima, quien <br />en ning&#250;n caso se obliga a
                controlar ni a aprobar los servicios, <br />contenidos, datos, archivos, productos y cualquier clase de
                <br />material existente en la p&#225;gina o p&#225;ginas web de terceros. Por <br />lo tanto, Leebrond
                Chile no responder&#225;, bajo ninguna <br />circunstancia, de la legalidad de los contenidos de dicha/s
            </p>

        </div>
    </div>
    <div style="page-break-before:always; page-break-after:always">
        <div>
            <p>p&#225;gina/s, siendo responsabilidad exclusiva del tercero todo lo <br />que concierna al contenido de
                ese enlace, especialmente el <br />respeto a la ley, moral, buenas costumbres y orden p&#250;blico. La
                <br />existencia de enlaces no presupone relaci&#243;n de ninguna clase <br />entre Leebrond Chile y el
                propietario de la p&#225;gina web en <br />que el mismo se establezca. <br /></p>
            <p>Aquellos Usuarios o terceras personas que pretendan establecer <br />un enlace en p&#225;ginas de su
                titularidad y responsabilidad hacia <br />la Aplicaci&#243;n y Servicio Prisus, deben solicitar una
                <br />autorizaci&#243;n previa al siguiente correo electr&#243;nico, indicando <br />sus datos de
                contacto: <b>support@prisusapp.com</b>, garantizando en <br />todo caso que ese enlace dirigir&#225;
                siempre a los Usuarios a la <br />primera p&#225;gina o p&#225;gina principal del Servicio Prisus,
                quedando <br />expresamente excluidos los enlaces profundos o &quot;deep link&quot; o <br />los enlaces
                marco o &quot;frame link&quot;. Salvo aquellos signos que <br />formen parte del enlace al Servicio
                Prisus, los Usuarios <br />garantizar&#225;n que la p&#225;gina web desde la que se establezca el
                <br />enlace no contendr&#225; marcas, nombres comerciales, r&#243;tulos de <br />establecimientos,
                denominaciones, logotipos, esl&#243;ganes o <br />cualquier tipo de signo distintivo perteneciente a
                Leebrond <br />Chile. <br /></p>
            <p><b>14. RESPONSABILIDAD</b> <br /></p>
            <p>Leebrond Chile no se responsabiliza frente al Usuario por da&#241;os <br />derivados de una
                utilizaci&#243;n incorrecta de La Aplicaci&#243;n y/o <br />del Servicio Prisus, o incumpliendo las
                recomendaciones o <br />instrucciones proporcionadas por Leebrond Chile en los <br />presentes
                T&#233;rminos y Condiciones de Uso. <br /></p>
            <p><b>16. DESCARGO DE RESPONSABILIDAD</b> <br /></p>
            <p>Leebrond Chile no ser&#225; responsable: <br /></p>
            <p>a) Del mal funcionamiento de la Aplicaci&#243;n y del Servicio <br />Prisus proveniente de causas de
                fuerza mayor, o cualesquiera <br />otras ajenas a la voluntad de Leebrond Chile. <br /></p>
            <p>b) De los posibles errores o deficiencias de seguridad que <br />pudieran producirse por la
                utilizaci&#243;n, por parte del Usuario, <br />de un dispositivo no actualizado o inseguro, as&#237;
                como por la <br />activaci&#243;n de los dispositivos de conservaci&#243;n de contrase&#241;as <br />o
                c&#243;digos de identificaci&#243;n del Usuario en el navegador o de <br />los da&#241;os, errores o
                inexactitudes que pudieran derivarse del <br />mal funcionamiento del mismo. </p>

        </div>
    </div>
    <div style="page-break-before:always; page-break-after:always">
        <div>
            <p>c) De los da&#241;os y perjuicios directos o indirectos que pudiera <br />causar la informaci&#243;n que
                se transmite o comunique en la <br />Aplicaci&#243;n o el Servicio Prisus o en sus comunicaciones
                <br />electr&#243;nicas incluyendo, sin car&#225;cter limitativo, los errores <br />t&#233;cnicos o
                humanos en los datos publicados. <br /></p>
            <p>d) De los contenidos de la Aplicaci&#243;n y del Servicio Prisus, <br />ya que no puede dar
                garant&#237;as ni seguridad, en forma expresa o <br />t&#225;cita, impl&#237;cita o expl&#237;cita,
                respecto de la exactitud, <br />veracidad o integridad de la informaci&#243;n ofrecida o
                <br />referenciada en el mismo. Leebrond Chile no se responsabiliza <br />por las consecuencias
                derivadas de las acciones o reclamaciones <br />que terceras partes ejecuten haciendo referencia o
                invocando, <br />ya sea directa o indirectamente, la informaci&#243;n incluida en <br />este Servicio.
                En cualquier caso Leebrond Chile dispondr&#225; los <br />mayores esfuerzos, tanto t&#233;cnicos como
                humanos para mantener <br />actualizada, completa y segura su Aplicaci&#243;n y el Servicio
                <br />Prisus. <br /></p>
            <p>e) De los da&#241;os, incluyendo entre otros, y sin limitarse a &#233;stos: <br />da&#241;os,
                p&#233;rdidas o gastos directos o indirectos, inherentes o <br />consecuentes, que surjan en
                relaci&#243;n con este Servicio o su <br />uso o imposibilidad de uso por alguna de las partes, o en
                <br />relaci&#243;n con cualquier falla o desperfecto en el rendimiento, <br />error, omisi&#243;n,
                interrupci&#243;n, defecto, demora en la operaci&#243;n <br />o transmisi&#243;n, virus
                inform&#225;ticos o fallos de sistema o l&#237;nea. <br /></p>
            <p>El Usuario responder&#225; por los da&#241;os y perjuicios de cualquier <br />naturaleza que provengan de
                actos il&#237;citos o fraudulentos, as&#237; <br />como aquellos da&#241;os o perjuicios que Leebrond
                Chile o el resto <br />de la Aplicaci&#243;n y Servicio Prisus pudieran sufrir como <br />consecuencia,
                directa o indirecta, del incumplimiento por parte <br />del Usuario de las presentes Condiciones de Uso,
                reserv&#225;ndose <br />Leebrond Chile, aquellas acciones a las que tuviera derecho <br />ante las
                autoridades judiciales o policiales pertinentes. <br /></p>
            <p>Aunque emplea sus mayores esfuerzos, Leebrond Chile no <br />garantiza en caso alguno a los Usuarios, el
                acceso y uso <br />continuado e ininterrumpido de la Aplicaci&#243;n y del Servicio <br />Prisus. <br />
            </p>
            <p><b>16. DURACI&#211;N Y TERMINACI&#211;N</b> <br /></p>
            <p>El contrato entre el Usuario y Leebrond Chile es de tiempo <br />ilimitado. El Usuario podr&#225; poner
                t&#233;rmino unilateral a su <br />relaci&#243;n contractual con Leebrond Chile en cualquier momento,
            </p>

        </div>
    </div>
    <div style="page-break-before:always; page-break-after:always">
        <div>
            <p>mediante la desinstalaci&#243;n de la Aplicaci&#243;n desde su <br />dispositivo. <br /></p>
            <p>Ambas partes quedan facultadas para poner t&#233;rmino al contrato, <br />de manera unilateral, en caso
                de incumplimiento grave por <br />cualquiera de las partes de cualquiera de las obligaciones
                <br />contra&#237;das por medio de las Condiciones de Uso. <br /></p>
            <p>La terminaci&#243;n del contrato supondr&#225; la finalizaci&#243;n de la <br />prestaci&#243;n del
                Servicio Prisus, por parte de Leebrond Chile, <br />as&#237; como la extinci&#243;n de la licencia de
                uso de la Aplicaci&#243;n <br />otorgada al Usuario, en virtud de las presentes Condiciones de
                <br />Uso. <br /></p>
            <p><b>17. MODIFICACIONES</b> <br /></p>
            <p>Leebrond Chile notificar&#225; al Usuario de todos aquellos cambios <br />que afecten a las Condiciones
                de Uso, la Aplicaci&#243;n y/o el <br />Servicio Prisus con anterioridad a que &#233;stos se produzcan.
                Si <br />el Usuario no est&#225; conforme con los cambios, deber&#225; dejar de <br />utilizar la
                Aplicaci&#243;n y el Servicio Prisus, desinstalando la <br />Aplicaci&#243;n de su dispositivo. La
                utilizaci&#243;n de la Aplicaci&#243;n <br />tras la notificaci&#243;n de los cambios supondr&#225; la
                aceptaci&#243;n de <br />los mismos por el Usuario. <br /></p>
            <p><b>18. CONTACTO Y COMUNICACIONES POR ESCRITO</b> <br /></p>
            <p>Al aceptar las presentes Condiciones de Uso, el Usuario acepta <br />que la mayor parte de las
                comunicaciones con Leebrond Chile <br />ser&#225;n electr&#243;nicas. Leebrond Chile se pondr&#225; en
                contacto con <br />el Usuario a trav&#233;s de correo electr&#243;nico o colgando avisos en <br />la
                Aplicaci&#243;n y el Servicio Prisus. El Usuario consiente en <br />usar este medio electr&#243;nico de
                comunicaci&#243;n y reconoce que toda <br />notificaci&#243;n, informaci&#243;n y dem&#225;s
                comunicaciones que Leebrond <br />Chile le env&#237;e de forma electr&#243;nica cumplen con los
                requisitos <br />legales de ser por escrito. <br /></p>
            <p>Para cualquier consulta o incidencia, queja o reclamaci&#243;n, <br />relacionada con la Aplicaci&#243;n
                y Servicio Prisus, el Usuario <br />podr&#225; ponerse en contacto con Leebrond Chile enviando un
                <br />correo electr&#243;nico a la siguiente direcci&#243;n <br /><b>support@prisusapp.com</b>. <br />
            </p>
            <p><b>19. JURISDICCI&#211;N Y LEY APLICABLE</b> <br /></p>
            <p>El funcionamiento y utilizaci&#243;n de la Aplicaci&#243;n y el Servicio <br />Prisus y las presentes
                Condiciones de Uso se rigen por la </p>

        </div>
    </div>
    <div style="page-break-before:always; page-break-after:always">
        <div>
            <p>legislaci&#243;n aplicable al territorio en donde haya sido <br />adquirida la aplicaci&#243;n. <br />
            </p>
            <p> </p>

        </div>
    </div>
</body>

</html>