<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light" icon="arrow-back-circle" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Café Paris</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="info-card">
    <img src="assets/imgs/example.png" alt="">

    <div class="logo">
      <img src="assets/imgs/example3.png" alt="">
    </div>

    <ion-card-content>
      <ion-row>
        <ion-col size="9">
          <ion-card-title>Café Paris (ejemplo nombre largo)</ion-card-title>
        </ion-col>
        <ion-col size="3">
          <div class="person">
            <ion-icon name="person" color="primary"></ion-icon>
            <p>15/20</p>
          </div>
        </ion-col>
      </ion-row>

      <ion-item lines="none">
        <ion-icon name="link" slot="start" color="primary"></ion-icon>
        <p>www.sitioweb.com</p>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="call" slot="start" color="primary"></ion-icon>
        <p>3344-43930-000</p>
      </ion-item>

      <ion-row class="ion-align-items-center">
        <ion-col size="2.5">
          <div class="btn-social ion-activatable">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-icon name="logo-instagram" color="primary"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="2.5">
          <div class="btn-social ion-activatable">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-icon name="logo-facebook" color="primary"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="2.5">
          <div class="btn-social ion-activatable">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-icon name="logo-whatsapp" color="primary"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <div class="container">
    <div #map id="map"></div>

    <ion-card class="address">
      <ion-item lines="none">
        <ion-icon name="location" color="light"></ion-icon>
        <ion-text color="light">
          <p>Hipólito Yrigoyen 131, X5152 Villa Carlos Paz, Córdoba</p>
        </ion-text>
      </ion-item>
    </ion-card>

    <ion-button class="global-btn ion-margin-top" color="light" expand="block">
      <ion-icon name="earth-outline" slot="start"></ion-icon>
      Abrir Google Maps
    </ion-button>

    <p>¿Deseas reservar un lugar?</p>

    <ion-button class="global-btn ion-margin-top ion-margin-bottom ion-text-capitalize" color="secondary" expand="block" (click)="goToBooking()">
      <ion-icon name="calendar" slot="start"></ion-icon>
      Si quiero reservar
    </ion-button>
  </div>
  
</ion-content>