
<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar color="transparent">
      <ion-buttons slot="start">
        <ion-back-button color="light" defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="isWatching" class="centered-title" color="light">{{ form?.value?.name }}</ion-title>
      <ion-title *ngIf="creating" class="centered-title" color="light">Nueva lista</ion-title>
    </ion-toolbar>
  </ion-header>
  <form class="ion-margin-top" [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="shadow-circle-global"></div>
    <ion-grid class="ion-padding" *ngIf="!isWatching">
      <ion-row>
        <ion-label color="light">Nombre de la lista</ion-label>
        <ion-item class="ion-align-items-center w100 fix-floating" lines="none">
          <ion-input formControlName="name" type="text"></ion-input>
        </ion-item>
        <div *ngIf="!isFieldValid('name')" class="invalid-input-message">
          {{getFieldError('name')}}
        </div>

        <div class="ion-margin-top w100">
          <ion-label color="light">Fecha</ion-label>
          <ion-item id="service-open-modal-dateFrom" class="ion-align-items-center w100" lines="none">
            <ion-label color="secondary">
              <ion-label>{{ form.value.dateTo | date:'dd/MM/yyyy' }}</ion-label>
            </ion-label>
            <ion-icon slot="end" name="calendar"></ion-icon>
          </ion-item>
          <div *ngIf="!isFieldValid('dateTo')" class="invalid-input-message">
            {{getFieldError('dateTo')}}
          </div>
        </div>

        <ion-modal trigger="service-open-modal-dateFrom">
          <ng-template>
            <ion-content class="customContent">
              <ion-datetime presentation='date' #datetimeFrom size='contain' formControlName="dateTo"
                display-format='DD.MM.YYYY'>
                <ion-buttons slot='buttons'>
                  <ion-button color="danger" (click)="datetimeFrom.cancel(true); form.value.dateTo = undefined">Borrar
                  </ion-button>
                  <ion-button color='dark' class='ion-margin-end' (click)='datetimeFrom.cancel(true)'>Cancelar
                  </ion-button>
                  <ion-button color='primary' (click)='datetimeFrom.confirm(true)'>Aceptar</ion-button>
                </ion-buttons>
              </ion-datetime>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-row>
    </ion-grid>
    <div *ngFor="let group of listGroups">
      <ion-row class="d-flex ion-align-items-center">
        <ion-text color="light">
          <h1 class="ion-padding-start">{{ group.name }}</h1>
        </ion-text>
          <ion-button *ngIf="!isWatching" class="btn-custom" (click)="goToEditListGroup(group)" expand="block" fill="clear"
            shape="round">
            Editar
            <ion-icon slot="start" name="create-outline"></ion-icon>
          </ion-button>
      </ion-row>
      <ion-card *ngFor="let song of group.songs">
        <ion-item (click)="goToSong(song.id)" lines="none" class="ion-align-items-center">
          <ion-label class="ion-text-wrap">
            <h2>{{ song.name }}</h2>
            <ion-label>{{ song.author }}</ion-label>
          </ion-label>
          <ion-buttons slot="end">
            <div class="note">{{ song.tone.name + song.tone.extension}}</div>
          </ion-buttons>
        </ion-item>
      </ion-card>
    </div>
    <div *ngIf="listGroups?.length == 0" class="ion-text-center ion-padding">
      <b class="ion-margin-top">No hay canciones para mostrar</b>
      <p *ngIf="!isWatching">Intenta agregar un grupo con el botón '+'</p>
    </div>

    <ion-footer class="footer-custom" *ngIf="!isWatching">
      <ion-toolbar color="transparent">
        <ion-button [disabled]="!form.valid" class="ion-padding-start ion-padding-end" color="primary" expand="block" fill="solid"
          shape="round" type="submit">
          <ion-text color="light">
            Guardar
          </ion-text>
          <ion-icon color="light" slot="start" name="save"></ion-icon>
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </form>
</ion-content>


<ion-fab *ngIf="creating || !isWatching" class="ion-fab-custom-2" slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button color="primary" (click)="goToAdd()">
    <ion-icon color="secondary" name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>