ion-content {
    ion-item::part(native) {
        border-radius: 10px !important;
    }

    p {
        font-size: 0.9rem;
        font-weight: 400;
        color: var(--ion-color-primary);
    }

    h5 {
        color: var(--ion-color-primary);
    }

    ion-label {
        color: var(--ion-color-tertiary) !important;
        font-weight: 400 !important;
        font-size: 0.9rem !important;
    }
}
