<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light" icon="arrow-back-circle" defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id='content' class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-row class="ion-justify-content-center">
      <ng-lottie [options]="options" height="200px"></ng-lottie>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-text-center"></ion-col>
      <h5>Recuperar contraseña</h5>
      <p class="ion-text-center">Introduzca el correo electrónico asociado  con su cuenta y le enviaremos un mail con las instrucciones para restablecer su contraseña </p>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none" class="w100 ion-margin-top">
          <ion-label position="floating" color="tertiary">Correo Electrónico</ion-label>
          <ion-input type="email" required formControlName="emailAddress"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="submit-container">
      <ion-col class="ion-text-center">
        <ion-button class="global-btn ion-text-capitalize" expand="block" color="secondary" type="submit"
          [disabled]="!form.valid" *ngIf="!loading">
            Enviar
        </ion-button>
        <ion-spinner name="crescent" color="primary" *ngIf="loading"></ion-spinner>
      </ion-col>
    </ion-row>
  </form>
</ion-content>