<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light" icon="arrow-back-circle" defaultHref="/user/profile"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id='content' class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="changePassword(form.value)">
    <ion-item lines="none" class="w100 ion-margin-top fix-floating">
      <ion-label position="floating" color="tertiary">Contraseña actual</ion-label>
      <ion-input type="password" required class="form-control" formControlName="password"></ion-input>
    </ion-item>
    <div *ngIf="!isFieldValid('password')" class="invalid-input-message invalid-message-red">
      {{getFieldError('password')}}
    </div>

    <ion-item lines="none" class="w100 ion-margin-top fix-floating">
      <ion-label position="floating" color="tertiary">Nueva contraseña</ion-label>
      <ion-input type="password" required class="form-control" formControlName="passwordNew"></ion-input>
    </ion-item>
    <div *ngIf="!isFieldValid('passwordNew')" class="invalid-input-message invalid-message-red">
      {{getFieldError('passwordNew')}}
    </div>

    <ion-item lines="none" class="w100 ion-margin-top fix-floating">
      <ion-label position="floating" color="tertiary">Confirmar nueva contraseña</ion-label>
      <ion-input type="password" required class="form-control" formControlName="passwordNewVerify"></ion-input>
    </ion-item>
    <div *ngIf="!isFieldValid('passwordNewVerify')" class="invalid-input-message invalid-message-red">
      {{getFieldError('passwordNewVerify')}}
    </div>

    <ion-row class="class-row-button ion-margin-top">
      <ion-col class="class-col-button">
        <ion-button class="global-btn ion-text-capitalize" type="submit" color="secondary" expand="block"
          [disabled]="!form.valid">
          Confirmar
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>