<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light" icon="arrow-back-circle" defaultHref="/store"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Reservar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="tertiary">
    <h5>Ingrese cantidad de personas para la reserva</h5>
  </ion-text>

  <form>
    <ion-item lines="none" class="ion-margin-top">
      <ion-label position="floating">Cantidad</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>

    <ion-radio-group>
      <ion-item lines="none" class="ion-margin-top">
        <ion-radio slot="start"></ion-radio>
        <ion-label>Mesa exterior</ion-label>
      </ion-item>

      <ion-item lines="none" class="ion-margin-top">
        <ion-radio slot="start"></ion-radio>
        <ion-label>Mesa interior</ion-label>
      </ion-item>
    </ion-radio-group>
      

    <p>Hora límite de llegada: 21:30</p>

    <ion-button expand="block" class="global-btn ion-text-capitalize ion-margin-top" color="secondary" (click)="goToSuccess()">
      Reservar
    </ion-button>
  </form>
</ion-content>